body{

  background: #e0e0f0;
  height: 100%;

 }


 html {
  scrollbar-width: none; /* For Firefox */
}

body {
  overflow: auto;   /* Keep scrolling enabled */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}