body{

  background: #000000;
  height: 100%;

 }


 html {
  scrollbar-width: none; /* For Firefox */
}

body {
  overflow: auto;   /* Keep scrolling enabled */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}


/* In your global CSS file */
.neon-shadow {
  box-shadow: 0 0 15px 5px rgba(24, 14, 119, 0.7), 0 0 30px 10px rgba(42, 54, 219, 0.5);
}



